* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: 'Poor Story', 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

body {
  width: 100vw;
  /* height: 100vh; */
  /* ↑이거 모바일에서 가끔 : 주소창 때문에 튐 / 스크롤 이상해짐
↓실무 추천: */
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #2c475a;
  word-break: keep-all;
  overflow-wrap: break-word;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
    line-height: 20px;
  }

  body {
    padding: 30px;
    display: flex;
    flex-direction: column;
  }

  header {
    width: 100%;
    color: #fff;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header div h1 {
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  .movie_list {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .movie_list ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    list-style: none;
    flex: 1;
  }

  .movie_list ul li {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .flip_card {
    width: 100%;
    border-radius: 0 0 15px 15px;
    background-color: #fff;
    padding: 15px;
    perspective: 1000px;
    /* 3D 깊이감 조절하는 카메라 거리 */
    cursor: pointer;
    flex: 1;
    display: flex;
    gap: 15px;
    flex-direction: column;
  }

  .flip_card h2 {
    font-size: 20px;
    text-align: center;
  }

  .ticket {
    border-radius: 15px 15px 0 0;
    background-color: #fff;
    padding: 15px;
    border-top: 3px dashed black;
  }

  .flip_inner {
    width: 100%;
    height: 100%;
    /* width: 100%;
      aspect-ratio: 2 / 3; */
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  /* 클릭 시 뒤집힘 */
  .flip_card.active .flip_inner {
    transform: rotateY(180deg);
  }

  .flip_front,
  .flip_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
  }

  /* 앞면 */
  .flip_front img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* 뒷면 */
  .flip_back {
    background: #111;
    color: white;
    transform: rotateY(180deg);
    padding: 15px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
  }

  .flip_back table th,
  .flip_back table td {
    border: 1px #fff solid;
    padding: 5px;
    vertical-align: middle;
  }

  .flip_back div,
  table th,
  table td {
    line-height: 20px;
  }

  table th {
    letter-spacing: 1px;
  }

  .ticket table {
    width: 100%;
  }

  .ticket table th,
  .ticket table td {
    border: 1px #111 solid;
    padding: 5px;
    vertical-align: middle;
  }

  .ticket table th {
    width: 30%;
  }

  .ticket table td {
    width: 70%;
  }




  .paging {
    display: flex;
    width: 100%;
    /* height: 100px; */
    align-items: baseline;
    justify-content: center;
    color: #fff;
    gap: 15px;
    margin-top: 30px;
    border-top: 3px dashed #fff;
  }

  .paging a {
    padding: 10px 15px;
    border: 1px solid #fff;
    border-top: none;
  }

  .paging ol {
    display: flex;
    list-style: none;
    gap: 20px;
  }

  .paging a:hover,
  .paging ol li a:hover,
  .paging ol li a.active {
    background-color: #fff;
    color: #111;
  }
}

@media screen and (max-width: 1023px) {
  html {
    font-size: 14px;
    line-height: 18px;
    height: 100%;
  }

  body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  header {
    width: 100%;
    color: #fff;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header div h1 {
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }

  .movie_list {
    width: 100%;
    flex: 1;
    min-height: 0;
    /* ⭐ 중요 (flex 스크롤 핵심) */
    display: flex;
    flex-direction: column;
  }

  .movie_list ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    list-style: none;
    flex: 1;
    min-height: 0;
    /* ⭐ 이것도 핵심 */
    overflow-y: auto;
  }

  .movie_list ul li {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .flip_card {
    width: 100%;
    border-radius: 0 0 15px 15px;
    background-color: #fff;
    padding: 15px;
    perspective: 1000px;
    /* 3D 깊이감 조절하는 카메라 거리 */
    cursor: pointer;
    flex: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .flip_card h2 {
    font-size: 18px;
    text-align: center;
  }

  .ticket {
    border-radius: 15px 15px 0 0;
    background-color: #fff;
    padding: 10px;
    border-top: 3px dashed black;
  }

  .flip_inner {
    /* width: 100%;
    height: 100%; */
    width: 100%;
    aspect-ratio: 2 / 3;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  /* 클릭 시 뒤집힘 */
  .flip_card.active .flip_inner {
    transform: rotateY(180deg);
  }

  .flip_front,
  .flip_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
  }

  /* 앞면 */
  .flip_front img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* 뒷면 */
  .flip_back {
    background: #111;
    color: white;
    transform: rotateY(180deg);
    padding: 10px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
  }

  .flip_back table th,
  .flip_back table td {
    border: 1px #fff solid;
    padding: 5px;
    vertical-align: middle;
  }

  .flip_back div,
  table th,
  table td {
    line-height: 18px;
  }

  table th {
    letter-spacing: 1px;
  }

  .ticket table {
    width: 100%;
  }

  .ticket table th,
  .ticket table td {
    border: 1px #111 solid;
    padding: 5px;
    vertical-align: middle;
  }

  .ticket table th {
    width: 30%;
  }

  .ticket table td {
    width: 70%;
  }




  .paging {
    display: flex;
    width: 100%;
    /* height: 100px; */
    align-items: baseline;
    justify-content: center;
    color: #fff;
    gap: 10px;
    margin-top: 20px;
    border-top: 3px dashed #fff;
  }

  .paging a {
    padding: 10px 15px;
    border: 1px solid #fff;
    border-top: none;
  }

  .paging ol {
    display: flex;
    list-style: none;
    gap: 10px;
  }

  .paging a:hover,
  .paging ol li a:hover,
  .paging ol li a.active {
    background-color: #fff;
    color: #111;
  }
}