@media screen and (min-width: 1024px) {
   .book-list {
    flex: 5;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
  }

  .book-list ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #111;
  }

  .book-list ul li {
    border-bottom: 1px solid #111;
    border-right: 1px solid #111;
  }

  .book-list ul li:nth-child(5n) {
    border-right: none;
  }

  .book-list ul li:nth-last-child(-n+5) {
    border-bottom: none;
  }

  .book-list ul li a {
    height: 100%;
    display: block;
  }

  .book-list ul li img {
    max-height: 220px;
    width: auto;
    display: block;
    border: 1px solid #111;
    margin: 10% auto;
  }

  .book-list ul li figure {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .book-list ul li figure figcaption {
    flex: 1;
  }

  .book-list ul li figure figcaption dl {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .book-list ul li figure figcaption dl dt {
    margin-bottom: 10%;
    padding: 0 5%;
    line-height: 25px;
    white-space: normal;
    /* 줄바꿈 허용 */
    word-break: keep-all;
    /* 단어 중간에서 잘리지 않도록 */
    overflow-wrap: normal;
    /* 강제 줄바꿈 방지 */
  }

  .book-list ul li figure figcaption dl dd {
    margin-top: auto;
    border-top: 1px solid #111;
    padding: 5%;
  }

  .book-list ul li:hover dd {
    background-color: #e07a5f;
    color: #fff;
  }

  figure.bookNotes {
    flex: 5;
    text-align: left;
    display: flex;
    margin: 40px 0;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
  }

  figure.bookNotes>div {
    flex: 2;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  figure.bookNotes>div img {
    max-width: 100%;
    max-height: 100%;
    height: 665px;
    width: auto;
    object-fit: contain;
    /* 비율 유지 */
  }

  figure.bookNotes figcaption {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 5% 5% 0;
  }

  figure.bookNotes figcaption h3 {
    font-size: 50px;
    margin-bottom: 7%;
  }

  figure.bookNotes figcaption div:first-of-type {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 5%;
  }

  figure.bookNotes figcaption div:first-of-type p {
    line-height: 25px;
    margin-bottom: 20px;
  }

  figure.bookNotes figcaption div:last-of-type {
    border-top: 1px solid #949494;
    padding-top: 5%;
  }

  figure.bookNotes table {
    width: 100%;
    table-layout: fixed;
    /*
      table-layout: fixed;
      - 테이블 width 기준으로 열 너비를 먼저 나눔
      - 내용이 길어도 칸이 안 늘어남
      - 대신 글자는 줄바꿈되거나 잘림
      * table 넓이를 %로 했기 때문에 사용
    */
  }

  figure.bookNotes table tr:first-of-type td {
    padding-bottom: 20px;
  }

  figure.bookNotes table td {
    line-height: 25px;
    white-space: normal;
    /* 줄바꿈 허용 */
    word-break: keep-all;
    /* 단어 중간에서 잘리지 않도록 */
    overflow-wrap: normal;
    /* 강제 줄바꿈 방지 */
  }

  figure.bookNotes table td:nth-of-type(1),
  figure.bookNotes table td:nth-of-type(3) {
    font-weight: 700;
    width: 30%;
  }

  figure.bookNotes table td:nth-of-type(2),
  figure.bookNotes table td:nth-of-type(4) {
    width: 70%;
    padding-right: 5%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
   .book-list {
    flex: 3;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
  }

  .book-list ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #111;
    height: calc(100vh - 70px - 60px);
    overflow-y: auto;
  }

  .book-list ul li {
    border-bottom: 1px solid #111;
    border-right: 1px solid #111;
  }

  .book-list ul li:nth-child(3n) {
    border-right: none;
  }

  .book-list ul li:last-of-type {
    border-bottom: none;
  }

  .book-list ul li a {
    height: 100%;
    display: block;
  }

  .book-list ul li img {
    max-height: 200px;
    width: auto;
    display: block;
    border: 1px solid #111;
    margin: 8% auto;
  }

  .book-list ul li figure {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .book-list ul li figure figcaption {
    flex: 1;
  }

  .book-list ul li figure figcaption dl {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .book-list ul li figure figcaption dl dt {
    margin-bottom: 8%;
    padding: 0 5%;
    line-height: 22px;
    white-space: normal;
    /* 줄바꿈 허용 */
    word-break: keep-all;
    /* 단어 중간에서 잘리지 않도록 */
    overflow-wrap: normal;
    /* 강제 줄바꿈 방지 */
  }

  .book-list ul li figure figcaption dl dd {
    margin-top: auto;
    border-top: 1px solid #111;
    line-height: 38px;
    min-height: 38px;
  }

  .book-list ul li:hover dd {
    background-color: #e07a5f;
    color: #fff;
  }

  figure.bookNotes {
    flex: 3;
    text-align: left;
    display: flex;
    margin: 30px 0;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
  }

  figure.bookNotes>div {
    flex: 2;
    padding: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  figure.bookNotes>div img {
    max-width: 100%;
    max-height: 100%;
    height: 500px;
    width: auto;
    object-fit: contain;
    /* 비율 유지 */
  }

  figure.bookNotes figcaption {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4% 4% 4% 0;
  }

  figure.bookNotes figcaption h3 {
    font-size: 40px;
    margin-bottom: 6%;
    white-space: normal;
    /* 줄바꿈 허용 */
    word-break: keep-all;
    /* 단어 중간에서 잘리지 않도록 */
    overflow-wrap: normal;
    /* 강제 줄바꿈 방지 */
  }

  figure.bookNotes figcaption div:first-of-type {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 5%;
  }

  figure.bookNotes figcaption div:first-of-type p {
    line-height: 22px;
    margin-bottom: 16px;
  }

  figure.bookNotes figcaption div:last-of-type {
    border-top: 1px solid #949494;
    padding-top: 5%;
  }

  figure.bookNotes table {
    width: 100%;
  }

  figure.bookNotes table tr {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  figure.bookNotes table td {
    padding-bottom: 15px;
    line-height: 22px;
    white-space: normal;
    /* 줄바꿈 허용 */
    word-break: keep-all;
    /* 단어 중간에서 잘리지 않도록 */
    overflow-wrap: normal;
    /* 강제 줄바꿈 방지 */
  }

  figure.bookNotes table tr:last-of-type td:nth-of-type(3),
  figure.bookNotes table tr:last-of-type td:last-of-type {
    padding-bottom: 0;
  }

  /* 핵심: 4칸을 2줄로 쪼개기 */
  figure.bookNotes table tr td:nth-child(1),
  figure.bookNotes table tr td:nth-child(2) {
    grid-row: 1;
  }

  figure.bookNotes table tr td:nth-child(3),
  figure.bookNotes table tr td:nth-child(4) {
    grid-row: 2;
  }

  figure.bookNotes table td:nth-of-type(1),
  figure.bookNotes table td:nth-of-type(3) {
    font-weight: 700;
  }
}

@media screen and (max-width: 767px) {
   .book-list {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }

  .book-list ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #111;
    height: calc(100vh - 50px - 40px);
    overflow-y: auto;
  }

  .book-list ul li {
    border-bottom: 1px solid #111;
  }

  .book-list ul li:last-of-type {
    border-bottom: none;
  }

  .book-list ul li a {
    height: 100%;
    display: block;
  }

  .book-list ul li img {
    max-height: 180px;
    width: auto;
    display: block;
    border: 1px solid #111;
    margin: 5% auto;
  }

  .book-list ul li figure {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .book-list ul li figure figcaption {
    flex: 1;
  }

  .book-list ul li figure figcaption dl {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .book-list ul li figure figcaption dl dt {
    margin-bottom: 6%;
    padding: 0 5%;
    line-height: 20px;
    white-space: normal;
    /* 줄바꿈 허용 */
    word-break: keep-all;
    /* 단어 중간에서 잘리지 않도록 */
    overflow-wrap: normal;
    /* 강제 줄바꿈 방지 */
  }

  .book-list ul li figure figcaption dl dd {
    margin-top: auto;
    border-top: 1px solid #111;
    padding: 3%;
  }

  .book-list ul li:hover dd {
    background-color: #e07a5f;
    color: #fff;
  }

  figure.bookNotes {
    flex: 2;
    flex-direction: column;
    text-align: left;
    display: flex;
    margin: 20px 0;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
  }

  figure.bookNotes>div {
    display: none;
  }

  figure.bookNotes figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 4%;
  }

  figure.bookNotes figcaption h3 {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 5%;
    white-space: normal;
    /* 줄바꿈 허용 */
    word-break: keep-all;
    /* 단어 중간에서 잘리지 않도록 */
    overflow-wrap: normal;
    /* 강제 줄바꿈 방지 */
  }

  figure.bookNotes figcaption div:first-of-type {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 5%;
    min-height: 100px;
  }

  figure.bookNotes figcaption div:first-of-type p {
    line-height: 20px;
    margin-bottom: 12px;
  }

  figure.bookNotes figcaption div:last-of-type {
    border-top: 1px solid #949494;
    padding-top: 5%;
  }

  figure.bookNotes table {
    width: 100%;
  }

  figure.bookNotes table tr {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  figure.bookNotes table td {
    padding-bottom: 10px;
    line-height: 20px;
    white-space: normal;
    /* 줄바꿈 허용 */
    word-break: keep-all;
    /* 단어 중간에서 잘리지 않도록 */
    overflow-wrap: normal;
    /* 강제 줄바꿈 방지 */
  }

  figure.bookNotes table tr:last-of-type td:nth-of-type(3),
  figure.bookNotes table tr:last-of-type td:last-of-type {
    padding-bottom: 0;
  }

  /* 핵심: 4칸을 2줄로 쪼개기 */
  figure.bookNotes table tr td:nth-child(1),
  figure.bookNotes table tr td:nth-child(2) {
    grid-row: 1;
  }

  figure.bookNotes table tr td:nth-child(3),
  figure.bookNotes table tr td:nth-child(4) {
    grid-row: 2;
  }

  figure.bookNotes table td:nth-of-type(1),
  figure.bookNotes table td:nth-of-type(3) {
    font-weight: 700;
  }
}